.back_button {
  position: absolute;
  top: -15px;
}

.quiz {
  width: 50vw;
  .question {
    font-size: x-large;
  }
  .image {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30vh;
    img {
      width: 50vw;
    }
  }
  .answer_list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    .answer_item {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: rgb(248, 242, 234);
      color: black;
      border-radius: 1rem;
      min-height: 4rem;
      padding: 0.5rem;
      margin: 0.5rem;
      cursor: pointer;
      &.active {
        background-color: aqua;
        animation: changeColor 1.5s ease-in-out 1;
      }
    }
  }
  .buttons_wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-top: clamp(1rem, 3vw, 1.7rem);
    button {
      width: auto;
    }
  }
}

@keyframes changeColor {
  0% {
    background-color: rgb(248, 242, 234);
  }
  20% {
    background-color: aqua;
  }
  60% {
    background-color: rgb(241, 227, 207);
  }
  100% {
    background-color: aqua;
  }
}

/* PC */
@media (min-width: 1024px) {
}

/* Mobile - Tablet */
@media (max-width: 1023px) {
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .quiz {
    width: 80vw;
    .image {
      img {
        width: 80vw;
      }
    }
  }
}

/* Mobile */
@media (max-width: 739px) {
  .quiz {
    width: 90vw;
    .image {
      img {
        width: 90vw;
      }
    }
  }
}
