.get_point {
  width: 50vw;
  padding: 2rem;
  max-width: 550px;
  border-radius: 1.2rem !important;
}

/* PC */
@media (min-width: 1024px) {
}

/* Mobile - Tablet */
@media (max-width: 1023px) {
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .get_point {
    width: 80vw;
  }
}

/* Mobile */
@media (max-width: 739px) {
  .get_point {
    width: 90vw;
  }
}
