.card_profile {
  min-width: 50vw;
  .card_profile_head {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }
  .card_profile_image {
    .avatar {
      position: relative;
      .avatar_image {
        transition: all 0.15s ease;
      }
    }
  }
  .action {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    .card_profile_action {
      padding: 0.875rem;
    }
  }
  .star {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    .card_profile_star {
      padding: 1rem 0;
      > div {
        text-align: center;
        margin-right: 1rem;
        padding: 0.875rem;
        .heading {
          font-size: 1.1rem;
          font-weight: 700;
          display: block;
          letter-spacing: 0.025em;
          text-transform: uppercase;
        }
        .description {
          font-size: 0.875rem;
          color: #adb5bd;
        }
      }
    }
  }
}

/* PC */
@media (min-width: 1024px) {
  .card_profile {
    .card_profile_image {
      order: 2;
      flex: 0 0 25%;
      max-width: 25%;
      .avatar_image {
        position: absolute;
        transform: translate(-50%, -30%);
        left: 50%;
      }
    }
  }
  .action {
    order: 3;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    align-self: center !important;
    text-align: right !important;
    .card_profile_action {
      margin-top: 0;
      padding-bottom: 1.5rem;
    }
  }
  .star {
    order: 1;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .profile_name {
    padding: 1.5rem;
  }
}
.prev-avatar {
  border-radius: 50%;
  object-fit: cover;
}
/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
}

/* Mobile */
@media (max-width: 739px) {
  .card_profile {
    .card_profile_image {
      .avatar_image {
        top: -15px;
        border: #adb5bd 3px solid;
      }
    }
    .action {
      top: -15px;
    }
    .profile_name {
      padding-bottom: 1rem;
    }
  }
  .card-game {
    justify-content: center;
  }
}
