.tool_bar {
  display: flex;
  justify-content: space-between;
  .logo {
    max-height: 100%;
    transform: scale(1);
    width: 100%;
    transition: all 0.5s ease-in-out;
    overflow: hidden;

    .logo_img {
      /* Starting position */
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);

      /* Apply animation to this element */
      -moz-animation: marquee 15s linear infinite;
      -webkit-animation: marquee 15s linear infinite;
      animation: marquee 15s linear infinite;
    }
    &:hover {
      max-height: 115%;
      transform: scale(1.15);
    }
  }
}
