* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("./assets/image/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  z-index: 1;
}
.App {
  background-color: var(--mui-palette-secondary-contrastText);
  color: var(--mui-palette-secondary-main);
  min-height: 100vh;
  transition: 0.5s;
}
.main_content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  padding: 1rem;
}
.main_content > main {
  display: flex;
  justify-content: center;
}
.spinner {
  width: 11.2px;
  height: 11.2px;
  animation: spinner-z355kx 1s infinite linear;
  border-radius: 11.2px;
  box-shadow: 28px 0px 0 0 #05e71c, 17.4px 21.8px 0 0 #05e71c, -6.2px 27.2px 0 0 #05e71c,
    -25.2px 12px 0 0 #05e71c, -25.2px -12px 0 0 #05e71c, -6.2px -27.2px 0 0 #05e71c,
    17.4px -21.8px 0 0 #05e71c;
}

@keyframes spinner-z355kx {
  to {
    transform: rotate(360deg);
  }
}
