* {
  margin: 0;
  padding: 0;
}
body {
  background-image: url("./assets/image/bg.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  z-index: 1;
}
.App {
  background-color: var(--mui-palette-secondary-contrastText);
  color: var(--mui-palette-secondary-main);
  min-height: 100vh;
  transition: 0.5s;
}
.main_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 75vh;
  padding: 1rem;
}
.main_content > main {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
.left-slide,
.right-slide {
  display: none;
}

.spinner {
  border: 2px solid;
  border-color: transparent #97c48e;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: spinner-z355 1s linear infinite;
}
.spinner::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  border: 24px solid;
  border-color: transparent rgba(30, 160, 30, 0.15);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

@keyframes spinner-z355 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-moz-keyframes marquee {
  0% {
    -moz-transform: translateX(100vw);
  }
  100% {
    -moz-transform: translateX(-110%);
  }
}
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(100vw);
  }
  100% {
    -webkit-transform: translateX(-110%);
  }
}
@keyframes marquee {
  0% {
    -moz-transform: translateX(100vw); /* Firefox bug fix */
    -webkit-transform: translateX(100vw); /* Firefox bug fix */
    transform: translateX(100vw);
  }
  100% {
    -moz-transform: translateX(-110%); /* Firefox bug fix */
    -webkit-transform: translateX(-110%); /* Firefox bug fix */
    transform: translateX(-110%);
  }
}

/* PC */
@media (min-width: 1024px) {
  .left-slide,
  .right-slide {
    display: block;
    width: 150px;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .left-slide,
  .right-slide {
    display: block;
    width: 50px;
  }
}

@media (max-width: 500px) {
  #ads {
    display: none;
  }
}
